@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-primary-dark: #059669;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
  min-height: 100vh;
}

html[dir="rtl"] {
  font-family: 'Noto Nastaliq Urdu', system-ui, sans-serif;
}

html[dir="ltr"] {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
